<!--# \events\templates\events\add_venue.html-->
{% extends "appmain/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Pick{% endblock title %}

{% block content %}
<h1>Add your pick to the PigSkinners database</h1>

{% if submitted %}
    <p class="success">
        Your pick was submitted successfully. Thank you.
    </p>

{% else %}
    <form action="" method="post" novalidate>
    <table>
         {{ form|crispy }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Save Picks"></td>
        </tr>
    </table>
    {% csrf_token %}
    </form>
{% endif %}
{% endblock content %}