{% extends 'appmain/base.html' %}
{% block content %}
<style>
    .thead1 {color:blue;
             font-weight:bold;
             text-align:center;
            }
    .pickteam {color: blue;
             }
    .winteam {color: blue;
              font-weight: bold
             }
    .newday {BORDER-TOP: silver solid thick;
            }
}
</style>
    <div class="row justify-content-md-center">
        <div class="col-sm-12" align="center">
            {% include 'appmain/weeks_sidebar.html' %}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-12" align="center">
            <form method="post" >
                {% csrf_token %}
                <input type="text"  value="2019" name="txtYear" size="1" style="font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: #FFFFC0; border: 3pt ridge lightgrey"/>
                <input type="submit" class="btn" value="Load Season" name="btnLoadSeason" style="font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: #FFFFC0; border: 3pt ridge lightgrey">
                <input type="submit" class="btn" value="Load Weeks" name="btnLoadWeeks" style="font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: #FFFFC0; border: 3pt ridge lightgrey">
                <input type="submit" class="btn" value="Load Live" name="btnLoadLive" style="font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: #FFFFC0; border: 3pt ridge lightgrey">
                <input type="submit" class="btn" value="Load Week" name="btnLoadWeek" style="font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: #FFFFC0; border: 3pt ridge lightgrey">
            </form>
        </div>
    </div>
    <div class="col-sm-12 row justify-content-md-center">
    <table class="table table-bordered table-hover table-sm"
            id="dtBasicExample"
            data-toggle="table"
            data-sortable="true"
            data-height="400" >
    <!--    <div class="container-fluid text-center">-->
        <thead class="thead-light">

            <tr class="thead1">
                {% with games|first as game %}
                    <td colspan="3">Season: {{ game.year }}</td>
                {% endwith %}
            </tr>
            <tr class="thead1">
                <th data-field="week" data-sortable="true">Week</th>
                <th data-field="date" data-sortable="true">Date/Time</th>
                <th data-field="home" data-sortable="true">Home</th>
                <th data-field="hscore" data-sortable="true">Score</th>
                <th data-field="visitor" data-sortable="true">Visitor</th>
                <th data-field="vscore" data-sortable="true">Score</th>
                <th data-field="status" data-sortable="true">Game Status</th>
                <th data-field="ptsgame" data-sortable="true">Points Game</th>
                <th data-field="winner" data-sortable="true">winner</th>
                <th data-field="type" data-sortable="true">Last Posession</th>
                <th data-field="rz" data-sortable="true">red zone</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                {% ifchanged game.day  %}
                    {% if forloop.first %}
                        <tr>
                    {% else %}
                        <tr class = "newday">
                    {% endif %}
                {% else %}
                    <tr>
                {% endifchanged %}
                    <td>{{ game.week }}</td>
                    <td>{{ game.day }} {{ game.get_date }}</td>
                    <td>{{ game.home }}</td>
                    <td>{{ game.home_score }}</td>
                    <td>{{ game.visitor }}</td>
                    <td>{{ game.visitor_score }}</td>
                    <td align="center">{{ game.status }}</td>
                    <td align="center">{{ game.points_game }}</td>
                    <td class="winteam">{{ game.winner.team_name }}</td>
                    <td>{{ game.p }}</td>
                    <td>{{ game.red_zone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
