{% extends 'appmain/base.html' %}
{% load static %}
{% block title %}View Picks{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pick_view.css' %}?version=2" >
{% endblock stylesheet %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-sm-12" align="center">
            {% include 'appmain/weeks_sidebar.html' %}
        </div>
    </div>
    <div>
    <table id="pick_view" class="table table-bordered table-hover table-sm" data-sortable="true" >
        <thead class="thead-light">
            <tr class="thead1">
                <th colspan="2" align="center">Picks for week: {{ pick.wk }}<br>
                    {% if pick.wk.closed %} CLOSED
                    {% else %} OPEN {% endif %}
                </th>
                <th class="d-table-cell d-md-none" colspan="2" align="center">{{ pick.wk.start_dt|date:"m/d" }} TO {{ pick.wk.end_dt|date:"m/d" }}<br>
                <th class="d-none d-md-table-cell d-lg-none" colspan="2" align="center">{{ pick.wk.start_dt|date:"m/d/y" }} TO {{ pick.wk.end_dt|date:"m/d/y" }}<br>
                <th class="d-none d-lg-table-cell" colspan="2" align="center">{{ pick.wk.start_dt|date:"M d Y h:s A" }} TO {{ pick.wk.end_dt|date:"M d Y h:s A" }}<br>
                    Score for week: {{ pick.calc_score }}
                </th>
            </tr>
            <tr class = "thead1">
                <th data-field="id" data-sortable="true">Game</th>
                <th data-field="visitor" data-sortable="true">Visitor</th>
                <th data-field="home" data-sortable="true">Home</th>
                <th data-field="time" data-sortable="true">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for pick_game in pick.sorted_gameset %}
                {% if pick_game.game.points_game %}
                    {% ifchanged pick_game.game.day  %}
                        {% if forloop.first %}
                            <tr class="table-primary">
                        {% else %}
                            <tr class = "table-primary newday">
                        {% endif %}
                    {% else %}
                        <tr class="table-primary">
                    {% endifchanged %}
                {% else %}
                    {% ifchanged pick_game.game.day  %}
                        {% if forloop.first %}
                            <tr>
                        {% else %}
                            <tr class = "newday">
                        {% endif %}
                    {% else %}
                        <tr>
                    {% endifchanged %}
                {% endif %}
                    <td class="d-table-cell" scope="row" style="text-align:center;">{{ forloop.counter }}</td>
<!--                display visitor team-->
<!--                did I pick the visitor team? -->
                    {% if pick_game.game.visitor_team == pick_game.team %}
<!--                did the visitor team win-->
                        {% if pick_game.team == pick_game.game.win_team %}
                            <td class="pickwin d-table-cell d-md-none">{{ pick_game.game.visitor_team.team_abrev }}</td>
                            <td class="pickwin d-none d-md-table-cell d-lg-none">{{ pick_game.game.visitor_team.short_name }}</td>
                            <td class="pickwin d-none d-lg-table-cell">{{ pick_game.game.visitor_team.team_name }}</td>
                        {% else %}
                            <td class="picklost d-table-cell d-md-none">{{ pick_game.game.visitor_team.team_abrev }}</td>
                            <td class="picklost d-none d-md-table-cell d-lg-none">{{ pick_game.game.visitor_team.short_name }}</td>
                            <td class="picklost d-none d-lg-table-cell">{{ pick_game.game.visitor_team.team_name }}</td>
                        {% endif %}
                    {% else %}
                        {% if pick_game.game.visitor_team == pick_game.game.win_team %}
                            <td class="nonwin d-table-cell d-md-none">{{ pick_game.game.visitor_team.team_abrev }}</td>
                            <td class="nonwin d-none d-md-table-cell d-lg-none">{{ pick_game.game.visitor_team.short_name }}</td>
                            <td class="nonwin d-none d-lg-table-cell">{{ pick_game.game.visitor_team.team_name }}</td>
                        {% else %}
                            <td class="nonlost d-table-cell d-md-none">{{ pick_game.game.visitor_team.team_abrev }}</td>
                            <td class="nonlost d-none d-md-table-cell d-lg-none">{{ pick_game.game.visitor_team.short_name }}</td>
                            <td class="nonlost d-none d-lg-table-cell">{{ pick_game.game.visitor_team.team_name }}</td>
                        {% endif %}
                    {% endif %}

                    {% if pick_game.game.home_team == pick_game.team %}
                        {% if pick_game.team == pick_game.game.win_team %}
                            <td class="pickwin d-table-cell d-md-none">{{ pick_game.game.home_team.team_abrev }}</td>
                            <td class="pickwin d-none d-md-table-cell d-lg-none">{{ pick_game.game.home_team.short_name }}</td>
                            <td class="pickwin d-none d-lg-table-cell">{{ pick_game.game.home_team.team_name }}</td>
                        {% else %}
                            <td class="picklost d-table-cell d-md-none">{{ pick_game.game.home_team.team_abrev }}</td>
                            <td class="picklost d-none d-md-table-cell d-lg-none">{{ pick_game.game.home_team.short_name }}</td>
                            <td class="picklost d-none d-lg-table-cell">{{ pick_game.game.home_team.team_name }}</td>
                        {% endif %}
                    {% else %}
                        {% if pick_game.game.home_team == pick_game.game.win_team %}
                            <td class="nonwin d-table-cell d-md-none">{{ pick_game.game.home_team.team_abrev }}</td>
                            <td class="nonwin d-none d-md-table-cell d-lg-none">{{ pick_game.game.home_team.short_name }}</td>
                            <td class="nonwin d-none d-lg-table-cell">{{ pick_game.game.home_team.team_name }}</td>
                        {% else %}
                            <td class="nonlost d-table-cell d-md-none">{{ pick_game.game.home_team.team_abrev }}</td>
                            <td class="nonlost d-none d-md-table-cell d-lg-none">{{ pick_game.game.home_team.short_name }}</td>
                            <td class="nonlost d-none d-lg-table-cell">{{ pick_game.game.home_team.team_name }}</td>
                        {% endif %}
                    {% endif %}
                    <td class="d-table-cell d-md-none">{{ pick_game.game.day }}&nbsp;{{ pick_game.game.date_time|date:"d/j h:s A" }}</td>
                    <td class="d-none d-md-table-cell d-lg-none">{{ pick_game.game.day }}&nbsp;{{ pick_game.game.date_time|date:"d/j/Y h:s A" }}</td>
                    <td class="d-none d-lg-table-cell">{{ pick_game.game.day }}&nbsp;{{ pick_game.game.date_time|date:"M d Y h:s A" }}</td>
                </tr>
            {% endfor %}
        <tr>
            <td>Points Game: </td>
            <td align="center">{{ pick.points}}&nbsp;&nbsp;&nbsp;&nbsp;Score: {{ pick.koth_game.points_score }}</td>
            <td style="text-align:center">KOTH: </td>
            {% if pick.koth_team == pick.koth_game.win_team %}
                <td class="winteam">{{ pick.koth_team.team_name}}</td>
            {% else %}
                <td class="pickteam">{{ pick.koth_team.team_name}}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    </div>
<script>
</script>
{% endblock %}