{% extends "appmain/base.html" %}
{% load static %}
{% load tz %}
{% block title %}Make Post Season Picks{% endblock title %}

{% block content %}
<style type="text/css">
    .thead1 {color:blue;
             font-weight:bold;
             text-align:center;
            }
    .pickteam {color: blue;
             }
    .winteam {color: blue;
              font-weight: bold;
             }

    .newday {BORDER-TOP: silver solid thick;
            }

    .bottom_border {
        BORDER-BOTTOM: black solid 1px;
        cursor: pointer;
        text-align: center;
        font-size: smaller;
    }

    .right_border {
        BORDER-RIGHT: black solid 1px;
        text-align:center;
        font-size: smaller;
    }

    .left_border {
        BORDER-LEFT: black solid 1px;
        font-size: smaller;
        text-align:center;
    }

    .left_right_border
    {
        BORDER-LEFT: black solid 1px;
        BORDER-RIGHT: black solid 1px;
        font-size: smaller;
        text-align:center;
    }

    .right_bottom_border {
        BORDER-BOTTOM: black solid 1px;
        BORDER-RIGHT: black solid 1px;
        CURSOR: HAND;
        font-size: smaller;
        text-align: center;
    }

    .left_bottom_border {
        BORDER-BOTTOM: black solid 1px;
        BORDER-LEFT: black solid 1px;
        CURSOR: HAND;
        font-size: smaller;
        text-align: center;
    }

    .left_right_bottom_border {
        BORDER-BOTTOM: black solid 1px;
        BORDER-LEFT: black solid 1px;
        BORDER-RIGHT: black solid 1px;
        font-size: smaller;
        text-align:center;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}"/>

    <body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" onload="javascript:return window_onload();" onbeforeunload="javascript:return window_onbeforeunload()">
    <form id=frmPostPicks method="post" action="/pick/save_ps/">
        {% csrf_token %}
<!--        {% for pg in pick.post_games.all %}-->
<!--            <input type=text id="{{ pg.ps_type }}" name="{{ pg.ps_type }}" value="{{ pg.team.id }}">-->
<!--        {% endfor %}-->
        <input type=hidden id="hidAWC45" name="hidAWC45" value="">
        <input type=hidden id="hidNWC45" name="hidNWC45" value="">
        <input type=hidden id="hidAWC36" name="hidAWC36" value="">
        <input type=hidden id="hidNWC36" name="hidNWC36" value="">
        <input type=hidden id="hidADIV1" name="hidADIV1" value="">
        <input type=hidden id="hidNDIV1" name="hidNDIV1" value="">
        <input type=hidden id="hidADIV2" name="hidADIV2" value="">
        <input type=hidden id="hidNDIV2" name="hidNDIV2" value="">
        <input type=hidden id="hidACONF" name="hidACONF" value="">
        <input type=hidden id="hidNCONF" name="hidNCONF" value="">
        <input type=hidden id="hidSB" name="hidSB" value="">
        <input type=hidden id="hidPickID" name="hidPickID" value={{ pick.id }}>
<!--        <input type="hidden" name="hidWeekNum" id="hidWeekNum" value={{ pick.first.wk.week_no }}>-->

        <table width=100% cellpadding=0 cellspacing=0 border=0>
<!--    <table class="table table-bordered table-hover table-sm" data-toggle="table">-->

            <tr>
                <td bgcolor=#3399cc align=center colspan=9><font size=+2><b>Playoff Bracket</b></font></td>
            </tr>
            <tr>
                <td bgcolor=Gray align=center colspan=3><b>AFC</b></td>
                <td bgcolor=Gray align=center colspan=3><b>NFL</b></td>
                <td bgcolor=Gray align=center colspan=3><b>NFC</b></td>
            </tr>
            <tr>
                <td bgcolor=Silver align=center width=14.5%>Wild Card</td>
                <td bgcolor=Silver align=center width=14.5%>Divisional Playoffs</td>
                <td bgcolor=Silver align=center width=14.5%>Conference Championship</td>
                <td bgcolor=Silver colspan=3 align=center width=15%>Super Bowl LI</td>
                <td bgcolor=Silver align=center width=14.5%>Conference Championship</td>
                <td bgcolor=Silver align=center width=14.5%>Divisional Playoffs</td>
                <td bgcolor=Silver align=center width=14.5%>Wild Card</td>
            </tr>
            <tr>
                {% for week in weeks %}
                    {% if week.week_no == 22 %}
                        <td align=center colspan=3>{{ week.postseason_week }}</td>
                    {% else %}
                        <td align=center>{{ week.postseason_week }}</td>
                    {% endif %}
                {% endfor %}
                {% for week in weeks reversed %}
                    {% if week.week_no != 22 %}
                        <td align=center>{{ week.postseason_week }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td colspan=9>&nbsp;</td>
            </tr>
            <tr>
<!--                this is a seed team so display the game team not the pick -->
                <td class=bottom_border id=htAWC45 teamID="{{ pick.post_games.all.0.game.home_team.id }}" onclick="pickTeam(this)" >
                    <img src="{% static pick.post_games.all.0.game.home_team.logo_file_name %}" width=25px>
                    <br>#4 {{ pick.post_games.all.0.game.home_team }}</td>
                <td colspan=7>&nbsp;</td>
                <td class=bottom_border id=htNWC45 teamID="{{ pick.post_games.all.1.game.home_team.id }}" onclick="pickTeam(this)" >
                    <img src="{% static pick.post_games.all.1.game.home_team.logo_file_name %}" width=25px>
                    <br>#4 {{ pick.post_games.all.1.game.home_team }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan=7 class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=center>&nbsp;</td>
                <td class=left_bottom_border id=vtADIV1 onclick="pickTeam(this)">
                    {% if pick.post_games.all.4.team == None %} TBD
                    {% else %} <img src="{% static pick.post_games.all.4.team.logo_file_name %}" width=25px> #{{ pick.post_games.all.4.team.cy_seed }} {{ pick.post_games.all.4.team }}
                    {% endif %} </td>
                <td colspan=5>&nbsp;</td>
                <td class=right_bottom_border id=vtNDIV1 onclick="pickTeam(this)">
                    {% if pick.post_games.all.6.team == None %} TBD
                    {% else %} <img src="{% static pick.post_games.all.6.team.logo_file_name %}" width=25px> #{{ pick.post_games.all.6.team.cy_seed }} {{ pick.post_games.all.6.team }}
                    {% endif %} </td>
                <td align=center>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td colspan=5>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class=bottom_border id=vtAWC45 teamID="{{ pick.post_games.all.0.game.visitor_team.id }}" onclick="pickTeam(this)" >
                    <img src="{% static pick.post_games.all.0.game.visitor_team.logo_file_name %}" width=25px>
                    <br>#5 {{ pick.post_games.all.0.game.visitor_team }}</td>
                <td class="left_right_border">{{ pick.post_games.all.4.game.date_time }}</td>
                <td class=bottom_border id=htACONF onclick="pickTeam(this)">
                    {# display team user picked as winner of ADIV1 4 #}
                    {% if pick.post_games.all.4.team == None %}
                        TBD
                    {% else %}
                        <img src="{% static pick.post_games.all.4.team.logo_file_name %}" width=25px>
                        #{{ pick.post_games.all.4.team.cy_seed }} {{ pick.post_games.all.4.team }}
                    {% endif %}
                    </td>
                <td colspan=3>&nbsp;</td>
                <td class=bottom_border id=htNCONF onclick="pickTeam(this)">
                    {# display team user picked as winner of NDIV1 6 #}
                    {% if pick.post_games.all.6.team == None %}
                        TBD
                    {% else %}
                        <img src="{% static pick.post_games.all.6.team.logo_file_name %}" width=25px>
                        #{{ pick.post_games.all.6.team.cy_seed }} {{ pick.post_games.all.6.team }}
                    {% endif %}
                    </td>
                <td class=left_right_border >{{ pick.post_games.all.6.game.date_time }}&nbsp;</td>
                <td class=bottom_border id=vtNWC45 teamID="{{ pick.post_games.all.1.game.visitor_team.id }}" onclick="pickTeam(this)">
                    <img src="{% static pick.post_games.all.1.game.visitor_team.logo_file_name %}" width=25px>
                    <br>#5 {{ pick.post_games.all.1.game.visitor_team }}</td>
            </tr>
            <tr>
                <td colspan=2 class=right_border>&nbsp;</td>
                <td class=right_border>&nbsp;</td>
                <td colspan=2 class=bottom_border id="atSB" onclick="pickTeam(this)">
                    {# display team user picked as winner of ACONF 8 #}
                    {% if pick.post_games.all.8.team == None %}
                        TBD
                    {% else %}
                        <img src="{% static pick.post_games.all.8.team.logo_file_name %}" width=25px>
                        #{{ pick.post_games.all.8.team.cy_seed }} {{ pick.post_games.all.8.team }}
                    {% endif %}
                    </td>
                <td>&nbsp;</td>
                <td class=left_border>&nbsp;</td>
                <td colspan=2 class=left_border>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class=right_bottom_border id=htADIV1 teamID="{{ pick.post_games.all.4.game.home_team.id }}" onclick="pickTeam(this)">
                    <img src="{% static pick.post_games.all.4.game.home_team.logo_file_name %}" width=25px>
                    <br>#1 {{ pick.post_games.all.4.game.home_team }}</td>
                <td class=right_border align=center>&nbsp;</td>
                <td colspan=3>&nbsp;</td>
                <td class=left_border align=center>&nbsp;</td>
                <td class=left_bottom_border id=htNDIV1 teamID="{{ pick.post_games.all.6.game.home_team.id }}" onclick="pickTeam(this)">
                    <img src="{% static pick.post_games.all.6.game.home_team.logo_file_name %}" width=25px>
                    <br>#1 {{ pick.post_games.all.6.game.home_team }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=2>&nbsp;</td>
                <td class=right_border align=center>{{ pick.post_games.all.8.game.date_time }}&nbsp;</td>
                <td colspan=3 align=center>
                    <table width="100%" cellpadding="0" cellspacing="0" align=center>
                        <tr>
                            <td>&nbsp;</td>
                            <td align=center><b>Super Bowl Winner:</b><br><font id="superChamp">
                            {# display team user picked as winner of SB 10 #}
                                {% if pick.post_games.all.10.team == None %}
                                    TBD
                                {% else %}
                                    <img src="{% static pick.post_games.all.10.team.logo_file_name %}" width=25px>
                                    #{{ pick.post_games.all.10.team.cy_seed }} {{ pick.post_games.all.10.team }}
                                {% endif %}
                            </font></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan=3>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td align=center><b>Total Points:</b>&nbsp;<input type=text id=bowlPoints maxlength=3 style="width: 25px" NAME="bowlPoints" value="{{ pick.points }}"></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td class=left_border align=center>{{ pick.post_games.all.9.game.date_time }}&nbsp;</td>
                <td colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class=bottom_border id=htADIV2 teamID="{{ pick.post_games.all.5.game.home_team.id }}" onclick="pickTeam(this)">
                    <img src="{% static pick.post_games.all.5.game.home_team.logo_file_name %}" width=25px>
                    <br>#2 {{ pick.post_games.all.5.game.home_team }}</td>
                <td class=right_border align=center>&nbsp;</td>
                <td colspan=3>&nbsp;</td>
                <td class=left_border>&nbsp;</td>
                <td class=bottom_border id=htNDIV2 teamID="{{ pick.post_games.all.7.game.home_team.id }}" onclick="pickTeam(this)">
                    <img src="{% static pick.post_games.all.7.game.home_team.logo_file_name %}" width=25px>
                    <br>#2 {{ pick.post_games.all.7.game.home_team }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=2 class=right_border>&nbsp;</td>
                <td class=right_border>&nbsp;</td>
                <td class=bottom_border>&nbsp;</td>
                <td class=bottom_border colspan=2 id="ntSB" onclick="pickTeam(this)">
                    {# display team user picked as winner of NCONF 9 #}
                    {% if pick.post_games.all.9.team == None %}
                        TBD
                    {% else %}
                        <img src="{% static pick.post_games.all.9.team.logo_file_name %}" width=25px>
                        #{{ pick.post_games.all.9.team.cy_seed }} {{ pick.post_games.all.9.team }}
                    {% endif %}
                </td>
                <td class=left_border>&nbsp;</td>
                <td colspan=2 class=left_border>&nbsp;</td>
            </tr>
            <tr>
                <td class=bottom_border id=htAWC36 teamID="{{ pick.post_games.all.2.game.home_team.id }}" onclick="pickTeam(this)" >
                    <img src="{% static pick.post_games.all.2.game.home_team.logo_file_name %}" width=25px>
                    <br>#3 {{ pick.post_games.all.2.game.home_team }}</td>
                <td class=right_border>{{ pick.post_games.all.5.game.date_time }}&nbsp;</td>
                <td class=right_bottom_border id=vtACONF onclick="pickTeam(this)">
                    {# display team user picked as winner of ADIV2 5 #}
                    {% if pick.post_games.all.5.team == None %}
                        TBD
                    {% else %}
                        <img src="{% static pick.post_games.all.5.team.logo_file_name %}" width=25px>
                        #{{ pick.post_games.all.5.team.cy_seed }} {{ pick.post_games.all.5.team }}
                    {% endif %}
                </td>
                <td colspan=3 align=center valign=bottom>&nbsp;
                    <input type=submit onclick="javascript:return savePicks();" value="Save Picks"&nbsp;>
<!--                    {% if not allowPicks %} disabled-->
<!--                    {% endif %}>-->

                </td>
                <td class=left_bottom_border id=vtNCONF onclick="pickTeam(this)">
                    {# display team user picked as winner of NDIV2 7 #}
                    {% if pick.post_games.all.7.team == None %}
                        TBD
                    {% else %}
                        <img src="{% static pick.post_games.all.7.team.logo_file_name %}" width=25px>
                        #{{ pick.post_games.all.7.team.cy_seed }} {{ pick.post_games.all.7.team }}
                    {% endif %}
                </td>
                <td class=left_border>{{ pick.post_games.all.7.game.date_time }}&nbsp;</td>
                <td class=bottom_border id=htNWC36 teamID="{{ pick.post_games.all.3.game.home_team.id }}" onclick="pickTeam(this)" >
                    <img src="{% static pick.post_games.all.3.game.home_team.logo_file_name %}" width=25px>
                    <br>#3 {{ pick.post_games.all.3.game.home_team }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td colspan=5>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=center>&nbsp;</td>
                <td class=left_right_bottom_border id=vtADIV2 onclick="pickTeam(this)">
                    {# 2 = AWC36 user picked team as for 36 if 3 seed then it goes here else the 45 team does #}
                    {% if pick.post_games.all.2.team.cy_seed == 3 %}
                        {% if pick.post_games.all.2.team == None %}
                            TBD
                        {% else %}
                            <img src="{% static pick.post_games.all.2.team.logo_file_name %}" width=25px>
                            #{{ pick.post_games.all.2.team.cy_seed }} {{ pick.post_games.all.2.team }}
                        {% endif %}
                    {% else %}
                        {% if pick.post_games.all.0.team == None %}
                            TBD
                        {% else %}
                            <img src="{% static pick.post_games.all.0.team.logo_file_name %}" width=25px>
                            #{{ pick.post_games.all.0.team.cy_seed }} {{ pick.post_games.all.0.team }}
                        {% endif %}
                    {% endif %}
                </td>
                <td colspan=5>&nbsp;</td>
                <td class=left_right_bottom_border id=vtNDIV2 onclick="pickTeam(this)">
                    {# 3 = NWC36 user picked team as for 36 if 3 seed then it goes here else the 45 team does #}
                    {% if pick.post_games.all.3.team.cy_seed == 3 %}
                        {% if pick.post_games.all.3.team == None %}
                            TBD
                        {% else %}
                            <img src="{% static pick.post_games.all.3.team.logo_file_name %}" width=25px>
                            #{{ pick.post_games.all.3.team.cy_seed }} {{ pick.post_games.all.3.team }}
                        {% endif %}
                    {% else %}
                        {% if pick.post_games.all.1.team == None %}
                            TBD
                        {% else %}
                            <img src="{% static pick.post_games.all.1.team.logo_file_name %}" width=25px>
                            #{{ pick.post_games.all.1.team.cy_seed }} {{ pick.post_games.all.1.team }}
                        {% endif %}
                    {% endif %}
                </td>
                <td align=center>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan=7 class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class=bottom_border id=vtAWC36 teamID="{{ pick.post_games.all.2.game.visitor_team.id }}" onclick="pickTeam(this)">
                    <img src="{% static pick.post_games.all.2.game.visitor_team.logo_file_name %}" width=25px>
                    <br>#6 {{ pick.post_games.all.2.game.visitor_team }}</td>
                <td colspan=7 class=left_right_border>&nbsp;</td>
                <td class=bottom_border id=vtNWC36 teamID="{{ pick.post_games.all.3.game.visitor_team.id }}" onclick="pickTeam(this)">
                    <img src="{% static pick.post_games.all.3.game.visitor_team.logo_file_name %}" width=25px>
                    <br>#6 {{ pick.post_games.all.3.game.visitor_team }}</td>
            </tr>
        </table>
    </form>

<script type="text/javascript" language="Javascript" src="{% static 'appmain/js/picks_make_ps.js' %}" > </script>
<script language=javascript>
<!--
var bClosed;
var bPicksChanged = false;
var bAllowPicks = true;

function window_onload()
{
	var sMsg;

	//see if there's a message to show the user
    bAllowPicks = true;
	sMsg = "<%=sOnOpenMsg%>";
	if(sMsg != "")
	{
		alert(sMsg);
	}

}

function window_onbeforeunload() {
	if(bPicksChanged == true) {
		event.returnValue = "You have unsaved picks.\nNavigating away from the page will cause those picks to be lost.";
    }
}

$('form#frmPostPicks').submit(function() {
   $(window).unbind('beforeunload');
});

function pickTeam(objTd)
{
	var allowPicks = "True";
	var id = objTd.id;
	if(allowPicks == "True"){
		bPicksChanged = true;
		if(id == "htAWC36"){
			//if the 3 seed is picked then it plays the 2 seed in DIV (vtADIV2)
			vtADIV2.innerHTML = objTd.innerHTML;
			vtADIV2.setAttribute("teamID", htAWC36.getAttribute("teamID"));
            frmPostPicks.hidAWC36.value =  htAWC36.getAttribute("teamID");
			//if they changed the winner of this game, we need to clear out the afc picks that come after
			clearAfcPicks(3);

		}else if(id == "vtAWC36"){
			//if the 6 seed is picked then it plays the 1 seed in DIV (vtADIV1)
			vtADIV1.innerHTML = objTd.innerHTML;
			vtADIV1.setAttribute("teamID", vtAWC36.getAttribute("teamID"));
			frmPostPicks.hidAWC36.value = vtAWC36.getAttribute("teamID");
			//if they changed the winner of this game, we need to clear out the afc picks that come after
			clearAfcPicks(3);

		} else if(id == "htNWC36"){
			//if the 3 seed is picked then it plays the 2 seed in DIV (vtNDIV2)
			vtNDIV2.innerHTML = objTd.innerHTML;
			vtNDIV2.setAttribute("teamID",htNWC36.getAttribute("teamID"));
			frmPostPicks.hidNWC36.value = htNWC36.getAttribute("teamID");
			clearNfcPicks(3);

		}else if(id == "vtNWC36"){
			vtNDIV2.innerHTML = objTd.innerHTML;
			vtNDIV2.setAttribute("teamID",vtNWC36.getAttribute("teamID"));
			frmPostPicks.hidNWC36.value = vtNWC36.getAttribute("teamID");
			clearNfcPicks(3);

		}else if(id == "htAWC45") {
		    // need to check the AWC36 game, if 6 is picked then the winner plays the 2 seed (vtADIV2)
		    if(vtADIV1.getAttribute("teamID") == vtAWC36.getAttribute("teamID")){
			    vtADIV2.innerHTML = objTd.innerHTML;
			    vtADIV2.setAttribute("teamID", htAWC45.getAttribute("teamID"));
            }else{
			    vtADIV1.innerHTML = objTd.innerHTML;
			    vtADIV1.setAttribute("teamID", htAWC45.getAttribute("teamID"));
            }
            frmPostPicks.hidAWC45.value = htAWC45.getAttribute("teamID");
			//if they changed the winner of this game, we need to clear out the afc picks that come after
			clearAfcPicks(3);

		}else if(id == "vtAWC45"){
		    // need to check the AWC36 game, if 6 is picked then the winner plays the 2 seed (vtADIV2)
		    if(vtADIV1.getAttribute("teamID") == vtAWC36.getAttribute("teamID")){
    			vtADIV2.innerHTML = objTd.innerHTML;
    			vtADIV2.setAttribute("teamID", vtAWC45.getAttribute("teamID"));
            }else{
    			vtADIV1.innerHTML = objTd.innerHTML;
    			vtADIV1.setAttribute("teamID", vtAWC45.getAttribute("teamID"));
            }
			frmPostPicks.hidAWC45.value = vtAWC45.getAttribute("teamID");
			//if they changed the winner of this game, we need to clear out the afc picks that come after
			clearAfcPicks(3);

		}else if(id == "htNWC45"){
		    // need to check the NWC36 game, if 6 is picked then the winner plays the 2 seed (vtNDIV2)
		    if(vtNDIV1.getAttribute("teamID") == vtNWC36.getAttribute("teamID")){
                vtNDIV2.innerHTML = objTd.innerHTML;
                vtNDIV2.setAttribute("teamID", htNWC45.getAttribute("teamID"));
            }else{
                vtNDIV1.innerHTML = objTd.innerHTML;
                vtNDIV1.setAttribute("teamID", htNWC45.getAttribute("teamID"));
            }
			frmPostPicks.hidNWC45.value = htNWC45.getAttribute("teamID");
			clearNfcPicks(3);

		}else if(id == "vtNWC45"){
		    if(vtNDIV1.getAttribute("teamID") == vtNWC36.getAttribute("teamID")){
                vtNDIV2.innerHTML = objTd.innerHTML;
                vtNDIV2.setAttribute("teamID", vtNWC45.getAttribute("teamID"));
            }else{
                vtNDIV1.innerHTML = objTd.innerHTML;
                vtNDIV1.setAttribute("teamID", vtNWC45.getAttribute("teamID"));
            }
			frmPostPicks.hidNWC45.value = vtNWC45.getAttribute("teamID");
			clearNfcPicks(3);

		} else if(id == "htADIV1") {
			//they picked this 1 seed to go to the conference championship game
			htACONF.innerHTML = htADIV1.innerHTML;
            htACONF.setAttribute("teamID",htADIV1.getAttribute("teamID"));
			frmPostPicks.hidADIV1.value = htADIV1.getAttribute("teamID");

			//if they changed the winner of this game, we need to clear out the afc picks that come after
			clearAfcPicks(4);

		} else if(id == "vtADIV1") {
			//they picked the winner of the 4/5 game to win the next round
			htACONF.innerHTML = vtADIV1.innerHTML;
            htACONF.setAttribute("teamID",vtADIV1.getAttribute("teamID"));
			frmPostPicks.hidADIV1.value = vtADIV1.getAttribute("teamID");

			//if they changed the winner of this game, we need to clear out the afc picks that come after
			clearAfcPicks(4);

		} else if(id == "htNDIV1") {
			htNCONF.innerHTML = htNDIV1.innerHTML;
			htNCONF.setAttribute("teamID",htNDIV1.getAttribute("teamID"));
			frmPostPicks.hidNDIV1.value = htNDIV1.getAttribute("teamID");
			clearNfcPicks(4);

		} else if(id == "vtNDIV1") {
			htNCONF.innerHTML = vtNDIV1.innerHTML;
			htNCONF.setAttribute("teamID",vtNDIV1.getAttribute("teamID"));
			frmPostPicks.hidNDIV1.value = vtNDIV1.getAttribute("teamID");
			clearNfcPicks(4);

		} else if(id == "htADIV2") {
			vtACONF.innerHTML = htADIV2.innerHTML;
			vtACONF.setAttribute("teamID",htADIV2.getAttribute("teamID"));
			frmPostPicks.hidADIV2.value = htADIV2.getAttribute("teamID");
			clearAfcPicks(4);

		} else if(id == "vtADIV2") {
			vtACONF.innerHTML = vtADIV2.innerHTML;
			vtACONF.setAttribute("teamID", htADIV2.getAttribute("teamID"));
			frmPostPicks.hidADIV2.value = htADIV2.getAttribute("teamID");
			clearAfcPicks(4);

		} else if(id == "htNDIV2") {
			vtNCONF.innerHTML = htNDIV2.innerHTML;
			vtNCONF.setAttribute("teamID", htNDIV2.getAttribute("teamID"));
			frmPostPicks.hidNDIV2.value = htNDIV2.getAttribute("teamID");
			clearNfcPicks(4);

		} else if(id == "vtNDIV2") {
			vtNCONF.innerHTML = vtNDIV2.innerHTML;
			vtNCONF.setAttribute("teamID", vtNDIV2.getAttribute("teamID"));
			frmPostPicks.hidNDIV2.value = vtNDIV2.getAttribute("teamID");
			clearNfcPicks(4);

		} else if(id == "htACONF") {
			atSB.innerHTML = htACONF.innerHTML;
			atSB.setAttribute("teamID", htACONF.getAttribute("teamID"));
			frmPostPicks.hidACONF.value = htACONF.getAttribute("teamID");
			clearAfcPicks(5);

		} else if(id == "vtACONF") {
			atSB.innerHTML = vtACONF.innerHTML;
			atSB.setAttribute("teamID", vtACONF.getAttribute("teamID"));
			frmPostPicks.hidACONF.value = vtACONF.getAttribute("teamID");
			clearAfcPicks(5);

		} else if(id == "htNCONF") {
			ntSB.innerHTML = htNCONF.innerHTML;
			ntSB.setAttribute("teamID", htNCONF.getAttribute("teamID"));
			frmPostPicks.hidNCONF.value = htNCONF.getAttribute("teamID");
			clearNfcPicks(5);

		} else if(id == "vtNCONF") {
			ntSB.innerHTML = vtNCONF.innerHTML;
			ntSB.setAttribute("teamID", vtNCONF.getAttribute("teamID"));
			frmPostPicks.hidNCONF.value = vtNCONF.getAttribute("teamID");
			clearNfcPicks(5);

		} else if(id == "atSB") {
			superChamp.innerHTML = atSB.innerHTML;
			superChamp.setAttribute("teamID", atSB.getAttribute("teamID"));
			frmPostPicks.hidSB.value = atSB.getAttribute("teamID");

		} else if(id == "ntSB") {
			superChamp.innerHTML = ntSB.innerHTML;
			superChamp.setAttribute("teamID", ntSB.getAttribute("teamID"));
			frmPostPicks.hidSB.value = ntSB.getAttribute("teamID");
		}
	}
}
function clearAfcPicks(roundNumber){
	if(roundNumber <= 3){
		htACONF.innerHTML = "TBD";
		vtACONF.innerHTML = "TBD";
		frmPostPicks.hidADIV1.value = "";
		frmPostPicks.hidADIV2.value = "";
	}

	if(roundNumber <= 4){
		atSB.innerHTML = "TBD";
		frmPostPicks.hidACONF.value = "";
	}

	//we're always clearing the superbowl rounds
	superChamp.innerHTML = "TBD";
	frmPostPicks.bowlPoints.value = "";
	frmPostPicks.hidSB.value = "";
}

function clearNfcPicks(roundNumber){
	if(roundNumber <= 3){
		htNCONF.innerHTML = "TBD";
		vtNCONF.innerHTML = "TBD";
		frmPostPicks.hidNDIV1.value = "";
		frmPostPicks.hidNDIV2.value = "";
	}

	if(roundNumber <= 4){
		ntSB.innerHTML = "TBD";
		frmPostPicks.hidNCONF.value = "";
	}

	//we're always clearing the superbowl rounds
	superChamp.innerHTML = "TBD";
	frmPostPicks.bowlPoints.value = "";
	frmPostPicks.hidSB.value = "";
}

function savePicks(){
	var bRet;
	var bPageValid;

	//now validate the page
	bPageValid = validatePage();
	bRet = bPageValid;
	if(bPageValid)
	{
		bPicksChanged = false;
		frmPostPicks.hidMode.value = "save";
	}

	return bRet;
}

function validatePage(){
	//make sure they've made all the picks necessary (and entered points)
	var bRet = true;
	var sMsg = "";
	var afcValid = true;
	var nfcValid = true;
	var tempValue1 = "";
	var tempValue2 = "";

	tempValue1 = frmPostPicks.hidAWC45.value;
	if(tempValue1 == "" || tempValue1 == "undefined"){
		afcValid = false;
		sMsg += "Pick a winner for the AFC #4 vs #5 game\n";
	}

	tempValue1 = frmPostPicks.hidADIV2.value;
	if(tempValue1 == "" || tempValue1 == "undefined"){
		afcValid = false;
		sMsg += "Pick a winner for the AFC #3 vs #6 game\n";
	}

	tempValue1 = frmPostPicks.hidNDIV1.value;
	if(tempValue1 == "" || tempValue1 == "undefined"){
		nfcValid = false;
		sMsg += "Pick a winner for the NFC #4 vs #5 game\n";
	}

	tempValue1 = frmPostPicks.hidNWC36.value;
	if(tempValue1 == "" || tempValue1 == "undefined"){
		nfcValid = false;
		sMsg += "Pick a winner for the NFC #3 vs #6 game\n";
	}

	if(afcValid){
		//they've made picks for the first round, so check the next round
		tempValue1 = frmPostPicks.hidADIV1.value;
		tempValue2 = frmPostPicks.hidADIV2.value;
		if(tempValue1 == "" || tempValue1 == "undefined" || tempValue2  == "" || tempValue2 == "undefined"){
			afcValid = false;
			sMsg += "Pick winners for the AFC Divisional Playoff games\n";
		}
	}

	if(nfcValid){
		//they've made picks for the first round, so check the next round
		tempValue1 = frmPostPicks.hidNDIV1.value;
		tempValue2 = frmPostPicks.hidNDIV2.value;
		if(tempValue1 == "" || tempValue1 == "undefined" || tempValue2  == "" || tempValue2 == "undefined"){
			nfcValid = false;
			sMsg += "Pick winners for the NFC Divisional Playoff games\n";
		}
	}

	if(afcValid){
		//they've made picks for the second round, so check the next round
		tempValue1 = frmPostPicks.hidACONF.value;
		if(tempValue1 == "" || tempValue1 == "undefined"){
			afcValid = false;
			sMsg += "Pick a winner for the AFC Conference Championship game\n";
		}
	}

	if(nfcValid){
		//they've made picks for the second round, so check the next round
		tempValue1 = frmPostPicks.hidNCONF.value;
		if(tempValue1 == "" || tempValue1 == "undefined"){
			nfcValid = false;
			sMsg += "Pick a winner for the NFC Conference Championship game\n";
		}
	}

	bRet = afcValid && nfcValid;

	//if everything else was good, check that they've picked a super bowl winner and picked points
	if(bRet){
		tempValue1 = frmPostPicks.hidSB.value;
		if(tempValue1 == "" || tempValue1 == "undefined"){
			bRet = false;
			sMsg += "Pick a winner for the Super Bowl game\n";
		}

		if(frmPostPicks.bowlPoints.value == ""){
			bRet = false;
			sMsg += "Enter a number for the Total Points of the Super Bowl\n";
		} else {
			//also check to make sure that the points game total is a number
			var nums = /^[0-9]*$/;
			if (nums.test(frmPostPicks.bowlPoints.value) == false)
			{
				sMsg += "Enter a number for the Total Points of the Super Bowl\n";
				bRet = false;
			}

		}
	}

	if(sMsg != ""){
		alert(sMsg);
	}

	return bRet;
}
</script>
{% endblock %}
