{% extends "appmain/base.html" %}
{% load static %}
{% load tz %}
{% block title %}Make Post Season Picks{% endblock title %}
{% block content %}
<style type="text/css">
    .thead1 {color:blue;
             font-weight:bold;
             text-align:center;
            }
    .pickteam {color: blue;
             }
    .winteam {color: blue;
              font-weight: bold
             }

    .newday {BORDER-TOP: silver solid thick;
            }
}
    .bottom_border
    {
        BORDER-BOTTOM: black solid 1px
    }

    .right_border
    {
        BORDER-RIGHT: black solid 1px;
    }

    .left_border
    {
        BORDER-LEFT: black solid 1px;
    }

    .left_right_border
    {
        BORDER-LEFT: black solid 1px;
        BORDER-RIGHT: black solid 1px;
    }

    .right_bottom_border
    {
        BORDER-BOTTOM: black solid 1px;
        BORDER-RIGHT: black solid 1px;
    }

    .left_bottom_border
    {
        BORDER-BOTTOM: black solid 1px;
        BORDER-LEFT: black solid 1px;
    }

    .left_right_bottom_border
    {
        BORDER-BOTTOM: black solid 1px;
        BORDER-LEFT: black solid 1px;
        BORDER-RIGHT: black solid 1px;
    }
</style>
<link rel="stylesheet" type="text/css" href="includes/styles.css" />

    <body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" onload="javascript:return window_onload();" onbeforeunload="javascript:return window_onbeforeunload()">
    <form id=frmPostPicks method="post" action="MakePostseasonPicks.asp">
        <input type=hidden id="hidAfc45Pick" name="hidAfc45Pick" value="<%=afc45Pick%>">
        <input type=hidden id="hidNfc45Pick" name="hidNfc45Pick" value="<%=nfc45Pick%>">
        <input type=hidden id="hidAfc36Pick" name="hidAfc36Pick" value="<%=afc36Pick%>">
        <input type=hidden id="hidNfc36Pick" name="hidNfc36Pick" value="<%=nfc36Pick%>">
        <input type=hidden id="hidAfcCC1Pick" name="hidAfcCC1Pick" value="<%=afcCC1Pick%>">
        <input type=hidden id="hidNfcCC1Pick" name="hidNfcCC1Pick" value="<%=nfcCC1Pick%>">
        <input type=hidden id="hidAfcCC2Pick" name="hidAfcCC2Pick" value="<%=afcCC2Pick%>">
        <input type=hidden id="hidNfcCC2Pick" name="hidNfcCC2Pick" value="<%=nfcCC2Pick%>">
        <input type=hidden id="hidAfcCCPick" name="hidAfcCCPick" value="<%=afcCCPick%>">
        <input type=hidden id="hidNfcCCPick" name="hidNfcCCPick" value="<%=nfcCCPick%>">
        <input type=hidden id="hidSuperPick" name="hidSuperPick" value="<%=superPick%>">
        <input type=hidden id="hidMode" name="hidMode">
        <input type="hidden" name="hidWeekNum" id="hidWeekNum" value={{ pick.first.wk.week_no }}>

        <table width=100% cellpadding=0 cellspacing=0 border=0>
            <tr>
                <td bgcolor=#3399cc align=center colspan=9><font size=+2><b>Playoff Bracket</b></font></td>
            </tr>
            <tr>
                <td bgcolor=Gray align=center colspan=3><b>AFC</b></td>
                <td bgcolor=Gray align=center colspan=3><b>NFL</b></td>
                <td bgcolor=Gray align=center colspan=3><b>NFC</b></td>
            </tr>
            <tr>
                <td bgcolor=Silver align=center width=14.5%>Wild Card</td>
                <td bgcolor=Silver align=center width=14.5%>Divisional Playoffs</td>
                <td bgcolor=Silver align=center width=14.5%>Conference Championship</td>
                <td bgcolor=Silver colspan=3 align=center width=15%>Super Bowl LI</td>
                <td bgcolor=Silver align=center width=14.5%>Conference Championship</td>
                <td bgcolor=Silver align=center width=14.5%>Divisional Playoffs</td>
                <td bgcolor=Silver align=center width=14.5%>Wild Card</td>
            </tr>
            <tr>
                {% for pick in picks %}
                    {% if pick.wk.week_no == 22 %}
                        <td align=center colspan=3>{{ pick.wk.postseason_week }}</td>
                    {% else %}
                        <td align=center>{{ pick.wk.postseason_week }}</td>
                    {% endif %}
                {% endfor %}
                {% for pick in picks reversed %}
                    {% if pick.wk.week_no != 22 %}
                        <td align=center>{{ pick.wk.postseason_week }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td colspan=9>&nbsp;</td>
            </tr>
            <tr>
                <td align=center class=bottom_border id=afc4 onclick="pickTeam(this)" style="CURSOR: HAND">{{ afc.4.team_name }}</td>
                <td colspan=7>&nbsp;</td>
                <td align=center class=bottom_border id=nfc4 onclick="pickTeam(this)" style="CURSOR: HAND">{{ nfc.4.team_name }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan=7 class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=center>&nbsp;</td>
                <td align=center class=left_bottom_border style="CURSOR: HAND"><font id=afc45 onclick="pickTeam(this)"><%=afc45Html%></font></td>
                <td colspan=5>&nbsp;</td>
                <td align=center class=right_bottom_border style="CURSOR: HAND"><font id=nfc45 onclick="pickTeam(this)"><%=nfc45Html%></font></td>
                <td align=center>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td colspan=5>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=center class=bottom_border id=afc5 onclick="pickTeam(this)" style="CURSOR: HAND">{{ afc.5.team_name }}</td>
                <td class=left_right_border align=center><%=dp1AfcDateTime%>&nbsp;</td>
                <td align=center class=bottom_border style="CURSOR: HAND"><font id=afcCC1 onclick="pickTeam(this)"><%=afcCC1Html%></font></td>
                <td colspan=3>&nbsp;</td>
                <td align=center class=bottom_border style="CURSOR: HAND"><font id=nfcCC1 onclick="pickTeam(this)"><%=nfcCC1Html%></font></td>
                <td class=left_right_border align=center><%=dp1NfcDateTime%>&nbsp;</td>
                <td align=center class=bottom_border id=nfc5 onclick="pickTeam(this)" style="CURSOR: HAND">{{ nfc.5.team_name }}</td>
            </tr>
            <tr>
                <td colspan=2 class=right_border>&nbsp;</td>
                <td class=right_border>&nbsp;</td>
                <td colspan=2 class=bottom_border align=center style="CURSOR: HAND"><font id="afcCC" onclick="pickTeam(this)"><%=afcCCHtml%></font></td>
                <td>&nbsp;</td>
                <td class=left_border>&nbsp;</td>
                <td colspan=2 class=left_border>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align=center class=right_bottom_border style="CURSOR: HAND"><font id=afc121 teamID="<%=afc121TeamID%>" onclick="pickTeam(this)">{{ afc.1.team_name }}</font></td>
                <td class=right_border align=center>&nbsp;</td>
                <td colspan=3>&nbsp;</td>
                <td class=left_border align=center>&nbsp;</td>
                <td align=center class=left_bottom_border style="CURSOR: HAND"><font id=nfc121 teamID="<%=nfc121TeamID%>" onclick="pickTeam(this)">{{ nfc.1.team_name }}</font></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=2>&nbsp;</td>
                <td class=right_border align=center><%=ccAfcDateTime%>&nbsp;</td>
                <td colspan=3 align=center>
                    <table width="100%" cellpadding="0" cellspacing="0" align=center>
                        <tr>
                            <td>&nbsp;</td>
                            <td align=center><b>Super Bowl Winner:</b><br><font id="superChamp"><%=superChampHtml%></font></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan=3>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td align=center><b>Total Points:</b>&nbsp;<input type=text id=bowlPoints maxlength=3 style="width: 25px" NAME="bowlPoints" value="<%=bowlPoints%>"></td>
                            <td>&nbsp;</td>
                        </tr>

                    </table>
                </td>
                <td class=left_border align=center><%=ccNfcDateTime%>&nbsp;</td>
                <td colspan=2>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align=center class=bottom_border style="CURSOR: HAND"><font id=afc122 teamID="<%=afc122TeamId%>" onclick="pickTeam(this)">{{ afc.2.team_name }}</font></td>
                <td class=right_border align=center>&nbsp;</td>
                <td colspan=3>&nbsp;</td>
                <td class=left_border align=center>&nbsp;</td>
                <td align=center class=bottom_border style="CURSOR: HAND"><font id=nfc122 teamID="<%=nfc122TeamId%>" onclick="pickTeam(this)">{{ nfc.2.team_name }}</font></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=2 class=right_border>&nbsp;</td>
                <td class=right_border>&nbsp;</td>
                <td>&nbsp;</td>
                <td class=bottom_border align=center colspan=2 style="CURSOR: HAND"><font id="nfcCC" onclick="pickTeam(this)"><%=nfcCCHtml%></font></td>
                <td class=left_border>&nbsp;</td>
                <td colspan=2 class=left_border>&nbsp;</td>
            </tr>
            <tr>
                <td align=center class=bottom_border id=afc3 onclick="pickTeam(this)" style="CURSOR: HAND">{{ afc.3.team_name }}</td>
                <td align=center class=right_border><%=dp2AfcDateTime%>&nbsp;</td>
                <td align=center class=right_bottom_border style="CURSOR: HAND"><font id=afcCC2 onclick="pickTeam(this)"><%=afcCC2Html%></font></td>
                <td colspan=3 align=center valign=bottom>&nbsp;
                    <%If bAllowPicks Then%>
                        <input type=submit onclick="javascript:return savePicks();" value="Save Picks">&nbsp;
                    <%End If%>
                </td>
                <td align=center class=left_bottom_border style="CURSOR: HAND"><font id=nfcCC2 onclick="pickTeam(this)"><%=nfcCC2Html%></font></td>
                <td align=center class=left_border><%=dp2NfcDateTime%>&nbsp;</td>
                <td align=center class=bottom_border id=nfc3 onclick="pickTeam(this)" style="CURSOR: HAND">{{ nfc.3.team_name }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td colspan=5>&nbsp;</td>
                <td class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=center>&nbsp;</td>
                <td align=center class=left_right_bottom_border style="CURSOR: HAND"><font id=afc36 onclick="pickTeam(this)"><%=afc36Html%></font></td>
                <td colspan=5>&nbsp;</td>
                <td align=center class=left_right_bottom_border style="CURSOR: HAND"><font id=nfc36 onclick="pickTeam(this)"><%=nfc36Html%></font></td>
                <td align=center>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan=7 class=left_right_border>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align=center class=bottom_border id=afc6 onclick="pickTeam(this)" style="CURSOR: HAND">{{ afc.6.team_name }}</td>
                <td colspan=7 class=left_right_border>&nbsp;</td>
                <td align=center class=bottom_border id=nfc6 onclick="pickTeam(this)" style="CURSOR: HAND">{{ nfc.6.team_name }}</td>
            </tr>
        </table>
    </form>
{% endblock %}
