{% extends "appmain/base.html" %}
{% load static %}
{% load template_filter %}
{% load tz %}
{% block title %}Make Picks{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pick_make.css' %}?version=2"/>
{% endblock stylesheet %}
{% block content %}
    {% if submitted %}
        <p class="success">Your pick was submitted successfully. Thank you.</p>
    {% else %}
        <div class="row justify-content-md-center">
            <div class="col-sm-12" align="center">
                {% include 'appmain/weeks_sidebar.html' %}
            </div>
        </div>
        <div>
            {% get_current_timezone as TIMEZONE %}
            <form method="POST" name="frmPicks" action="/pick/make/">
                {% csrf_token %}
                <table id="pick_make" class="table table-bordered table-hover table-sm" data-sortable="true">
                    <thead class="thead-light">
                    <tr dataRow="false">
                        <td colspan="6" align="center"><font size="+1" ><b>Picks for week:  {{ pick.wk.gt }} {{ pick.wk.week_no }}
                            <br>Picks are:
                            {% if pick.wk.closed %}
                                <a class="closed">CLOSED</a>
                            {% else %}
                                <a class=open>OPEN</a>
                            {% endif %}
                            </b></font>
                            <br>
                            {{ pick.wk.start_dt|date:"d M Y" }} to {{ pick.wk.end_dt|date:"d M Y" }} &nbsp;
                            <input type="hidden" name="hidPickID" id="hidPickID" style="color: blue;" value="{{ pick.id }}">
                        </td>
                    </tr>
                    <tr dataRow="false">
                        <td colspan="3" align="center">
                            <input type="button" class="btnRandom" id="btnRandom" name="btnRandom" style="color: blue;" value="Select Random Picks" onclick="selectRandomPicks()"
                                {% if pick.wk.closed %}disabled{% endif %}>
                        </td>
                        <td colspan="3" align="center">
                            <input type="button" name="btnValidPicks" id="btnValodPicks" onclick="javascript:return savePicks('{{ pick.wk.closed }}','{{ pick.koth_eligible }}');" value="Save Picks"
                                {% if pick.wk.closed %}disabled{% endif %}>
                            <input type="submit" name="btnSavePicks" id="btnSavePicks1" type="submit" value="Save Picks">
                        </td>
                    </tr>
                    <tr dataRow="false"  align="center">
                        {% if messages %}
                            <td colspan="6">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class = "{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            </td>
                        {% else %}
                            <td colspan="6">&nbsp;</td>
                        {% endif %}
                    </tr>
                    <tr dataRow="false">
                        <th data-field="game" align="center">Game</th>
                        <th data-field="visitor" class="tdVisitorHeader" colspan="2" align="center">Visitor</th>
                        <th class="tdHomeHeader" colspan="2" align="center">Home</th>
                        <th data-field="date" align="center" >Date/Time</th>
<!--({{ TIMEZONE }})                        -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for pick_game in pick.pickgame_set.all %}
                        {% if pick_game.game.points_game %}
                            {% ifchanged pick_game.game.day  %}
                                {% if forloop.first %}
                                    <tr dataRow="true">
                                {% else %}
                                    <tr class = newday dataRow="true" style="background: yellow">
                                {% endif %}
                            {% else %}
                                <tr dataRow="true">
                            {% endifchanged %}
                        {% else %}
                            {% ifchanged pick_game.game.day  %}
                                {% if forloop.first %}
                                    <tr dataRow="true">
                                {% else %}
                                    <tr class = newday dataRow="true">
                                {% endif %}
                            {% else %}
                                <tr dataRow="true">
                            {% endifchanged %}
                        {% endif %}
                            <td align="center">{{ forloop.counter }}</td>
                            <td class="tdVisitorContent"><img src="{% static pick_game.game.visitor_team.logo_file_name %}" width="25px" >&nbsp;</td>
                            <td class="Game{{ forloop.counter }}" id="Game{{ forloop.counter }}Visitor" href="#" team="{{ pick_game.game.visitor_team.id }}"
                             {% if pick_game.game.visitor_team.id == pick_game.team.id %}
                                   style="background-color: lightblue;"
                            {% endif %} >
                            <font class="d-table-cell d-md-none" color="blue" >{{ pick_game.game.visitor_team.team_abrev }}</font>
                            <font class="d-none d-md-table-cell d-lg-none" color="blue" >{{ pick_game.game.visitor_team.short_name }}</font>
                            <font class="d-none d-lg-table-cell" color="blue" >{{ pick_game.game.visitor_team.team_name }}</font>
                            </td>
                            <td class="Game{{ forloop.counter }}" id="Game{{ forloop.counter }}Home" href="#" team="{{ pick_game.game.home_team.id }}"
                             {% if pick_game.game.home_team.id == pick_game.team.id %}
                                   style="background-color: lightblue;"
                            {% endif %} >
                            <font class="d-table-cell d-md-none" color="blue">{{ pick_game.game.home_team.team_abrev }}</font>
                            <font class="d-none d-md-table-cell d-lg-none" color="blue">{{ pick_game.game.home_team.short_name }}</font>
                            <font class="d-none d-lg-table-cell" color="blue">{{ pick_game.game.home_team.team_name }}</font>
                            </td>
                            <td class="tdHomeContent"><img width="25px" src="{% static pick_game.game.home_team.logo_file_name %}"></td>
                            <td class="d-table-cell d-md-none" align="center">{{ pick_game.game.get_date|date:"D m/d h:s A" }}
                            <td class="d-none d-md-table-cell d-lg-none" align="center">{{ pick_game.game.get_date|date:"D m/d/Y h:s A" }}
                            <td class="d-none d-lg-table-cell" align="center">{{ pick_game.game.get_date|date:"D M d, Y h:s A" }} }}
                            <input type="hidden" name="Selected{{ forloop.counter }}" id="Selected{{ forloop.counter }}" style="color: blue;" value="{{ pick_game.team.id }}"></td>
                        </tr>
                    {% endfor %}
                    <tr dataRow="false">
                        <td align="center" colspan="2"><font size="+1" face="wingdings">Ä</font></td>
                        <td colspan="4" align="left" style="color: blue;">Points Game Total:&nbsp;
                            <input type="text" name="txtPointsTotal" id="txtPointsTotal" style="color: blue;" value="{{ pick.points }}"
                            {% if pick.wk.closed %}
                                readonly
                            {% endif %}
                            >
                        </td>
                    </tr>
                    {% if pick.koth_eligible %}
                        <tr dataRow="false">
                            <td colspan="9" align="center"><font size="+1"><b>King of the Hill pick:</b></font></td>
                        </tr>
                        <tr dataRow="false">
                            <td class = "cboKingOfHillPick" kothEligible = "{{ pick.koth_eligible }}" colspan="9" align="center">
                            {% if pick.wk.closed %}
                                <input type="text" name="txtPointsTotal" style="color: blue;" value="{{ pick.koth_team.team_name }}" readonly >
                            {% else %}
                                <select name="cboKingOfHillPick" id="cboKingOfHillPick" style="color: blue;">
                                    <option value=""></option>
                                    {% for team in pick.koth_remaining %}
                                        <option value="{{ team.id }}" style="color: blue;"
                                        {% if pick.koth_team.id == team.id %}
                                            selected="selected"
                                        {% endif %}
                                        >{{ team.team_name }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr dataRow="false">
                        <td colspan="9">
                            <p align="center">{% if pick.saved %}
                                <font size="+1" style="color: white;">Picks SAVED</font>
                            {% else %}
                                <font size="+1" style="color: red;">Picks NOT saved</font>
                                {% endif %}</p>
                        </td>
                    </tr>
                    <tr dataRow="false">
                        <td colspan="6" style="color: blue;" align="center">
                            <input type="button" name="btnSavePicks" id="btnSavePicks2" onclick="javascript:return savePicks('{{ pick.wk.closed }}','{{ pick.koth_eligible }}');"  value="Save Picks"
                        {% if pick.wk.closed %}
                            disabled
                        {% endif %}
                        ></td>
                    </tr>
                    <tr dataRow="false">
                        <td colspan="9" >&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    {% endif %}

    {% block script %}
        <script type="text/javascript" language="Javascript" src="{% static 'appmain/js/pick_make.js' %}?version=7"></script>
    {% endblock %}
{% endblock content %}