{% extends 'appmain/base.html' %}
{% block content %}
<!--  get nfl games data for a week and loop through records and display
    game #, home, visitor,
    by date & time
    dividers by day & am/pm?
-->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-3">Picks for week {{ pick.wk }}</div>
            <div class="col-sm-5">{{ pick.wk.start_dt }} TO {{ pick.wk.end_dt }}</div>
            <div class="col-sm-3">For user: {{ pick.user }}</div>
        </div>
        <div class="row">
            <div class="col-sm-1">Game</div>
            <div class="col-sm-3">Visitor</div>
            <div class="col-sm-3">Home</div>
            <div class="col-sm-5">Time</div>
        </div>
        {% for pick_game in pick.pickgame_set.all %}
            <div class="row" border="1">
                <div class="col-sm-1">{{ forloop.counter }}</div>
                {% if pick_game.game.visitor_team.id == pick_game.team.id %}
                    <div class="col-sm-3"  style="color: blue;">{{ pick_game.game.visitor_team.team_name }}</div>
                {% else %}
                    <div class="col-sm-3">{{ pick_game.game.visitor_team.team_name }}</div>
                {% endif %}
                <div class="col-sm-3">{{ pick_game.game.home_team.team_name }}</div>
                <div class="col-sm-5">{{ pick_game.game.day }}&nbsp;{{ pick_game.game.get_date }}</div>
            </div>
        {% endfor %}
    </div>
<script>

</script>
{% endblock %}