{% extends "appmain/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tz %}
{% block title %}Make Picks{% endblock title %}
{% block content %}

{% if submitted %}
    <p class="success">Your pick was submitted successfully. Thank you.</p>
{% else %}
<!--        <div class="col-sm-1 container-fluid text-center">-->
<!--          <div class="row content">-->
<!--            <div class="col-sm-2 sidenav">-->
                {% include 'appmain/weeks_sidebar.html' %}
<!--            </div>-->
<!--		  </div>-->
<!--		</div>-->

<div class="col-sm-10">
    <div class="row content">
        <div class="col-sm-10 text-center bg-primary text-white">
        {% get_current_timezone as TIMEZONE %}
    <!--    <table width="100%" cellpadding="0" cellspacing="0" border="1" height="100%">-->
    <!--        <tr>-->
    <!--            <td valign="top" align="left">-->
                    <table cellpadding="0" cellspacing="0" border="1" width="100%">
                        <tr>
                            <td colspan="1">&nbsp;</td>
                        <tr>
                        <tr>
                            <td align="center">
                                <form method="POST" name="frmPicks" action="/picks/make/">
                                    {% csrf_token %}
    <!--                                <table cellpadding="0" cellspacing="0" border="1" width="100%" >-->
    <!--                                    <tr>-->
    <!--                                        <td>-->
                                                <table cellpadding="0" cellspacing="0" border="1" name="tblPicks" id="tblPicks" align="center" width="100%">
                                                    <tr dataRow="false">
                                                        <td colspan="9" align="center">
                                                            <font size="+1" ><b>Picks for week {{ pick.wk.week_no }} </b></font>
                                                                {% if pick.wk.closed %}
                                                                    <font size="+1" style="color: red;"><b>CLOSED</b></font>
                                                                {% else %}
                                                                    <font size="+1" style="color: white;"><b>OPEN</b></font>
                                                                {% endif %}
                                                                <br>
                                                                {{ pick.wk.start_dt|date:"d M Y" }} to {{ pick.wk.end_dt|date:"d M Y" }} &nbsp;</b></font>
                                                            <input type="hidden" name="hidPickID" id="hidPickID" style="color: blue;" value="{{ pick.id }}">
                                                        </td>
                                                    </tr>
                                                    <tr dataRow="false">
                                                        <td colspan="9" align="center">
                                                            <font size="+1">For user: {{ pick.user }}&nbsp;</font>
                                                        </td>
                                                    </tr>
                                                    <tr dataRow="false">
                                                        <td colspan="9" >&nbsp;</td>
                                                    </tr>
                                                    <tr dataRow="false">
<!--                                                        <td colspan="9" align="center"><input type="button" id="btnRandom" name="btnRandom" value="Select Random Picks"  style="color: blue;"  onclick="selectRandomPicks();"/>-->
<!--                                                        </td>-->
                                                        <td colspan="9" align="center">
                                                                <input type="button" class="btnRandom" id="btnRandom" name="btnRandom" style="color: blue;" value="Select Random Picks" onclick="selectRandomPicks()"
                                                                {% if pick.wk.closed %}
                                                                    disabled
                                                                {% endif %}
                                                                >
                                                        </td>

                                                    </tr>
                                                    <tr dataRow="false">
                                                        <td colspan="9">&nbsp;</td>
                                                    </tr>
                                                    <tr dataRow="false">
                                                        <td align="center">Game</td>
                                                        <td width="15px">&nbsp;</td>
                                                        <td class="tdVisitorHeader" align="center" colspan="2">Visitor</td>
                                                        <td width="15px">&nbsp;</td>
                                                        <td class="tdHomeHeader" align="center" colspan="2">Home</td>
                                                        <td width="15px">&nbsp;</td>
                                                        <td align="center">Time in timezone({{ TIMEZONE }})</td>
                                                    </tr>
                                                    {% for pick_game in pick.pickgame_set.all %}
                                                        <tr>
                                                            <td align="center">{{ forloop.counter }}</td>
                                                            <td>&nbsp;&nbsp;</td>
                                                            <td class="tdVisitorContent"><img src="{% static pick_game.game.visitor_team.logo_file_name %}" width="25px" >&nbsp;</td>
                                                            <td><a class="Game{{ forloop.counter }}" id="Game{{ forloop.counter }}Visitor" href="#" team="{{ pick_game.game.visitor_team.id }}"
                                                             {% if pick_game.game.visitor_team.id == pick_game.team.id %}
                                                                   background-color="#ff6600" style="background-color: rgb(255, 102, 0);"
                                                            {% endif %}
                                                            ><font color="white" >{{ pick_game.game.visitor_team.team_name }}</font></a></td>
                                                            <td>&nbsp;&nbsp;</td>
                                                            <td><a class="Game{{ forloop.counter }}" id="Game{{ forloop.counter }}Home" href="#" team="{{ pick_game.game.home_team.id }}"
                                                             {% if pick_game.game.home_team.id == pick_game.team.id %}
                                                                   background-color="#ff6600" style="background-color: rgb(255, 102, 0);"
                                                            {% endif %}
                                                            ><font color="white">{{ pick_game.game.home_team.team_name }}</font></a></td>
                                                            <td class="tdHomeContent"><img width="25px" src="{% static pick_game.game.home_team.logo_file_name %}"></td>
                                                            <td>&nbsp;</td>
                                                            <td align="center">{{ pick_game.game.day }}&nbsp;{{ pick_game.game.get_date }}</td>
                                                            <td><input type="hidden" name="Selected{{ forloop.counter }}" id="Selected{{ forloop.counter }}" style="color: blue;" value="{{ pick_game.team.id }}"></td>
                                                        </tr>
                                                    {% endfor %}

                                                    <tr dataRow="false">
                                                        <td align="center" colspan="2"><font size="+1" face="wingdings">Ä</font></td>
                                                        <td colspan="4" align="left" style="color: blue;">Points Game Total:&nbsp;
                                                            <input type="text" name="txtPointsTotal" id="txtPointsTotal" style="color: blue;" value="{{ pick.points }}"
                                                            {% if pick.wk.closed %}
                                                                readonly
                                                            {% endif %}
                                                            >
                                                        </td>
                                                    </tr>
                                                    {% if pick.koth_eligible %}
                                                        <tr dataRow="false">
                                                            <td colspan="9">&nbsp;</td>
                                                        </tr>
                                                        <tr dataRow="false">
                                                            <td colspan="9" align="center"><font size="+1"><b>King of the Hill pick:</b></font></td>
                                                        </tr>
                                                        <tr dataRow="false">
                                                            <td class = "cboKingOfHillPick" kothEligible = "{{ pick.koth_eligible }}" colspan="9" align="center">
                                                            {% if pick.wk.closed %}
                                                                <input type="text" name="txtPointsTotal" style="color: blue;" value="{{ pick.koth_team.team_name }}" readonly >
                                                            {% else %}
                                                                <select name="cboKingOfHillPick" id="cboKingOfHillPick" style="color: blue;">
                                                                    <option value=""></option>
                                                                    {% for team in pick.koth_remaining %}
                                                                        <option value="{{ team.id }}" style="color: blue;"
                                                                        {% if pick.koth_team.id == team.id %}
                                                                            selected="selected"
                                                                        {% endif %}
                                                                        >{{ team.team_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    <tr dataRow="false">
                                                        <td colspan="9">
                                                            <p align="center">{% if pick.saved %}
                                                                <font size="+1" style="color: white;">Picks SAVED</font>
                                                            {% else %}
                                                                <font size="+1" style="color: red;">Picks NOT saved</font>
                                                                {% endif %}</p>
                                                        </td>
                                                    </tr>
                                                    <tr dataRow="false">
                                                        <td colspan="9" style="color: blue;" align="center"><input name="btnSavePicks" id="btnSavePicks" type="submit" value="Save Picks"
                                                        {% if pick.wk.closed %}
                                                            disabled
                                                        {% endif %}
                                                        ></td>
                                                    </tr>
                                                </table>
<!--                                                <input type="hidden" name="hidPointsGameTotal" id="hidPointsGameTotal" value="<%=sHiddenPointsGamePoints%>">-->
    <!--                                        </td>-->
    <!--                                    </tr>-->
    <!--                                </table>-->
                                </form>
                            </td>
                        </tr>
                    </table>
    <!--            </td>-->
    <!--        </tr>-->
    <!--    </table>-->
        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript" language="Javascript" src="{% static 'appmain/js/picks_make.js' %}"> </script>

<script type="text/javascript" language="Javascript">
function selectRandomPicks() {
    var i;
    var sel;

    //randomly select a points game value between 30-60 points, but only if they haven't already have selected something
    var x = $('#txtPointsTotal').val();
    if (!(parseInt(x) > 0)) {
        $('#txtPointsTotal').val(Math.floor((60-29)*Math.random()) + 30);
    }

	//select random KOTH if it's available
	var kothEligible = $('.cboKingOfHillPick').attr('kothEligible');
	if(kothEligible == "True" && frmPicks.cboKingOfHillPick.value == "") {
	    var upperLimit = frmPicks.cboKingOfHillPick.options.length - 1;
	    frmPicks.cboKingOfHillPick.selectedIndex = Math.floor((upperLimit)*Math.random()) + 1;
	}

    //Select a random pick for each game if there already isn't a pick made
    for (i = 1; i <= 16; i++) {
        selTeam = $('#Selected'.concat(i)).val();
        if(!(parseInt(selTeam) > 0)) {
            //generate a random number and see if it is even or odd, even = HOME team, odd = AWAY team
            var random = Math.floor(Math.random()*101);
            if(random % 2 == 0) {
                $('#Game'.concat(i).concat('Home')).click();
            } else {
                $('#Game'.concat(i).concat('Visitor')).click();
            }
        }
    }
};
</script>
{% endblock content %}