{% extends "appmain/base.html" %}
{% load static %}
{% block title %}Postseason Standings{% endblock title %}
{% block content %}

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" LANGUAGE=javascript onload="return window_onload()" onunload="return window_onunload()">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr id=trtest name=trtest>
            <td width="100%" align="right" border="0">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>&nbsp;</td>
                    <tr>
                    <tr>
                        <td align="center">
                            {% include 'appmain/standing_post_rpt.html' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
{% endblock content %}