{% extends "appmain/base.html" %}
{% load static %}
{% block title %}King Of The Hill (KOTH) Standings{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/standing_koth.css' %}?version=1" />
{% endblock stylesheet %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-sm-12" align="center">
            {% include 'appmain/weeks_sidebar.html' %}
        </div>
    </div>
    <body class = "koth_body" >
        <div>
            <table class="table table-hover table-sm" data-sortable="true" data-height="400" >
                <thead class="thead-light">
                    <tr class="thead1">
                        <td>Week:&nbsp;{{user_picks.first.wk}}</td>
                        <td class="team_picked">The team you picked is <b>highlighted</b></td>
                    </tr>
                </thead>
                    <tbody>
                    {% for pick in user_picks %}
                        {% if request.user == pick.user %}
                            {% if pick.koth_game != None and pick.koth_team == pick.koth_game.game_winner %}
                                <tr class="winteam curr_user">
                            {% elif pick.koth_game.status == 'F' or pick.koth_game.status == 'FO' %}
                                <tr class="loseteam curr_user">
                            {% else %}
                                <tr class=curr_user>
                            {% endif %}
                        {% else %}
                            {% if pick.koth_game != None and pick.koth_team == pick.koth_game.game_winner %}
                                <tr class=winteam>
                            {% elif pick.koth_game.status == 'F' or pick.koth_game.status == 'FO' %}
                                <tr class=loseteam>
                            {% else %}
                                <tr>
                            {% endif %}
                        {% endif %}
                            <td class=border_right >--&nbsp;&nbsp{{pick.user.first_name}} {{pick.user.last_name}}</td>
                            <td class=border_right >
                            {% if pick.koth_team != NONE %}
                                {% if pick.koth_team == pick.koth_game.visitor_team %}
                                    <div class="d-table-cell d-md-none" ><b>{{ pick.koth_team.team_abrev }}</b> vs. {{ pick.koth_game.home_team.team_abrev }} {{ pick.koth_game.day }} {{ pick.koth_game.date_time|date:"d/j h:s A" }}</div>
                                    <div class="d-none d-md-table-cell d-lg-none" ><b>{{ pick.koth_team.short_name }}</b> vs. {{ pick.koth_game.home_team.short_name }} {{ pick.koth_game.day }} {{ pick.koth_game.date_time|date:"d/j/Y h:s A" }}</div>
                                    <div class="d-none d-lg-table-cell" ><b>{{ pick.koth_team.team_name }}</b> vs. {{ pick.koth_game.home_team.team_name }} {{ pick.koth_game.day }} {{ pick.koth_game.date_time|date:"M d Y h:s A" }}</div>
                                {% elif pick.koth_team == pick.koth_game.home_team %}
                                    <div class="d-table-cell d-md-none" >{{ pick.koth_game.visitor_team.team_abrev }} vs. <b>{{ pick.koth_teamteam_abrev }}</b> {{ pick.koth_game.day }} {{ pick.koth_game.date_time|date:"d/j h:s A" }}</div>
                                    <div class="d-none d-md-table-cell d-lg-none" >{{ pick.koth_game.visitor_team.short_name }} vs. <b>{{ pick.koth_team.short_name }}</b> {{ pick.koth_game.day }} {{ pick.koth_game.date_time|date:"d/j/Y h:s A" }}</div>
                                    <div class="d-none d-lg-table-cell" >{{ pick.koth_game.visitor_team.team_name }} vs. <b>{{ pick.koth_team.team_name }}</b> {{ pick.koth_game.day }} {{ pick.koth_game.date_time|date:"M d Y h:s A" }}</div>
                                {% else %}
                                    &nbsp;&nbsp;
                                {% endif %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="border_bottom_right">There are <b>{{ week.koth_remaining }}</b> users remaining<br>and user {{ week.koth_eliminated }} eliminated this week)</td>
                        <td class=border_bottom_right >
                        <input name="btnGroupByUser" id="btnGroupByUser" type="submit" onclick="javascript:groupBy('User');" value="Group Report By User"></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                </tbody>
            </table>
        </div>
    </body>
{% endblock content %}