{% extends "appmain/base.html" %}
{% load static %}
{% block title %}Weekly Standings{% endblock title %}
{% block content %}
    <body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" >
        <form method="post" name="frmWeekNum" action="Standings_Week.asp?userGroup=<%=userGroup%>">
            <input type="hidden" name="hidWeekNum" id="hidWeekNum" value="<%=sWeekNumber%>">
        </form>
        {% include 'appmain/weeks_sidebar.html' %}
        <div class="col-sm-10">
            {% include 'appmain/standing_week_rpt_closed.html' %}
        </div>
    </body>
{% endblock content %}
