{% extends "appmain/base.html" %}
{% load static %}
{% block title %}King Of The Hill (KOTH) Standings{% endblock title %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/koth_rpt.css' %}" />

    <body class = "koth_body" >
        <form method="post" name="frmWeekNum" action="Standings_KOTH.asp">
            <input type="hidden" name="hidWeekNum" id="hidWeekNum" value="<%=sWeekNumber%>">
            <input type="hidden" name="hidGroupBy" id="hidGroupBy" value="<%=groupBy%>">
        </form>
        {% include 'appmain/weeks_sidebar.html' %}
        <div class="col-sm-10">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr id=trtest name=trtest>
                    <td width="100%" align="right" border="0">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td>&nbsp;</td>
                            <tr>
                            <tr>
                                <td align="center">
                                    {% include 'appmain/standing_koth_rpt.html' %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
{% endblock content %}