{% load template_filter %}
<table class="tblWeeklyStats" id="tblStats" name="tblStats" cellpadding="3px" cellspacing="0" border="1" width=100%>
    <thead>
        <tr userRow='false'>
            <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid" align='center' colspan="{{ num_games }}">
                <font size=+1><b>
                {% if bBallPoolOnly %}
                    BATC-Only Weekly Standings</b></font></td>
                {% else %}
                    Weekly Standings</b></font></td>
                {% endif %}
            <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid" align='center' colspan='2'>
                <input name="btnShowDiffs" id="btnShowDiffs" type="submit" onclick="javascript:showAllDiffs();" value="Show All Diffs">
            </td>
        </tr>
        <!--				'Show the Visitor Teams-->
        <tr userRow='false'>
            <td rowspan=2 align=center style="BORDER-RIGHT: black solid;BORDER-BOTTOM: black solid">
                <font id="ftWeekCombo" name="ftWeekCombo"><b>Week:&nbsp; {{ user_picks.first.wk.week_no }}/{{ user_picks.first.wk.id }}</b></font></td>
            {% for game in games %}
                {% with sOnClick=" onmouseover='javascript:this.T_STATIC=true;return escape(TooltipText({{ game.visitor_team.short_name }}));' onclick='sortByTeam({{ game.visitor_team.short_name }}', {{ forloop.counter }}" %}
                    {% if game.visitor_team == game.win_team %}
                        {% with sStyle="BORDER-TOP: black thin solid;BORDER-BOTTOM: black thin solid;BORDER-LEFT: black thin solid;BORDER-RIGHT: black thin solid; align='center' " %}
                        <td align="center"><div style="CURSOR: hand; BORDER-TOP: black thin solid; BORDER-BOTTOM: black thin solid; BORDER-LEFT: black thin solid; BORDER-RIGHT: black thin solid; " ><font size='-1'>{{ game.visitor_team.team_abrev }}</font><font size='-2'>&nbsp;{{ game.v_pick }}</font></div></td>
                        {% endwith %}
                    {% else %}
                        {% with sStyle="" %}
                        <td align="center"><div style="CURSOR: hand; {{ sStyle }}" ><font size='-1'>{{ game.visitor_team.team_abrev }}</font><font size='-2'>&nbsp;{{ game.v_pick }}</font></div></td>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
<!--            add sOnClick-->
			<td rowspan=2 align=center valign=center style="CURSOR: hand;BORDER-LEFT: black solid;BORDER-BOTTOM: black solid"><b>Points Game</b></td>
            <td rowspan=2 align=center valign=center style="CURSOR: hand;BORDER-LEFT: black solid;BORDER-BOTTOM: black solid"><b>Number of Wins</b></td>
        </tr>
        <!--				'Now show the Home Teams-->
        <tr userRow='false'>
            {% for game in games %}
                {% with sOnClick=" onmouseover='javascript:this.T_STATIC=true;return escape(TooltipText({{ game.home_team.short_name }}));' onclick='sortByTeam({{ game.home_team.short_name }}', {{ forloop.counter }}" %}
                    {% if game.home_team == game.win_team %}
                        {% with sStyle="BORDER-TOP: black thin solid;BORDER-BOTTOM: black thin solid;BORDER-LEFT: black thin solid;BORDER-RIGHT: black thin solid; align='center' " %}
                        <td align="center"><div {{ sOnClick }} style="CURSOR: hand; {{ sStyle }}" ><font size='-1'>{{ game.home_team.team_abrev }}</font><font size='-2'>&nbsp;{{ game.h_pick }}</font></div></td>
                        {% endwith %}
                    {% else %}
                        {% with sStyle="" %}
                        <td align="center"><div {{ sOnClick }} style="CURSOR: hand; {{ sStyle }}" ><font size='-1'>{{ game.home_team.team_abrev }}</font><font size='-2'>&nbsp;{{ game.h_pick }}</font></div></td>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
    </thead>
    <tbody>
            {% for pick in user_picks %}
                <tr userRow="true" id = "tr{{ pick.user.name }}" name = "tr{{ pick.user.name }}" isCompared="false"
                {% if request.user == pick.user %}
                    style= "BACKGROUND-COLOR: yellow;">
                {% else %}
                    >
                {% endif %}
                    <td style="BORDER-RIGHT: black solid; BORDER-BOTTOM: silver solid thin;" ><font size="-1">{{ pick.user.first_name }} {{ pick.user.last_name }} {{ pick.id }}</font></td>
                    {% for pgame in pick.pickgame_set.all %}
                        {% if pgame.team is not NONE %}
                            <td style="BORDER-BOTTOM: silver solid thin;"><div style="
                            {% if pgame.team == pgame.game.win_team %}
                                BACKGROUND-COLOR: silver">
                            {% else %}
                                "COLOR: silver">
                            {% endif %}
                            {{ pgame.team.short_name }}</div></td>
                        {% else %}
                            <td style="BORDER-BOTTOM: silver solid thin;">X&nbsp;</td>
                        {% endif %}
                    {% endfor %}
                    <!-- Put in the points game information-->
                    <td align="center" style="BORDER-LEFT: black solid; BORDER-BOTTOM: silver solid thin;">{{ pick.points }}</td>
                    <!--Put in this user's win total -->
                    </td><td align="center" style="BORDER-LEFT: black solid; BORDER-BOTTOM: silver solid thin;">{{ pick.pick_score }}&nbsp;</td>
                </tr>
            {% endfor %}

    </tbody>
</table>

<script type="text/javascript" language="Javascript">

function addSelectedRowAndCompare(row)
{
	if(row)
	{
		var isCompared = row.getAttribute("isCompared");
		if(isCompared == false || isCompared == "false")
		{
			//add this row to the "selected" array
			arrSelectedRows.splice(iSelectedRows, 1, row.id);
			iSelectedRows += 1;
			row.setAttribute("isCompared", "true");
		}
		compareUserPicks();
	}
}

function clearSelectedRowAndCompare(row)
{
	if(row)
	{
		if(row.getAttribute("isCompared") == true || row.getAttribute("isCompared") == "true")
		{
			//remove this row from the "selected" array
			removeRowFromArray(row);
			iSelectedRows -= 1;
			row.setAttribute("isCompared", "false");
			clearCompareUsers(row);
		}
	}
}

function showAllDiffs()
{
	var text = btnShowDiffs.value;
	if(text == "Show All Diffs")
	{
		//we want to show all the differences
		var table = document.getElementById("tblStats");
		if (table.tHead == null && table.tFoot == null)
		{
			for (var r1 = 0; r1 < table.rows.length; r1++)
			{
				if(table.rows[r1].getAttribute("userRow") != "false")
				{
					var row = table.rows[r1];
					addSelectedRowAndCompare(row);
				}
			}
		}
		else
		{
			for (var t = 0; t < table.tBodies.length; t++)
			{
				for (var r1 = 0; r1 < table.tBodies[t].rows.length; r1++)
				{
					if(table.tBodies[t].rows[r1].getAttribute("userRow") != "false")
					{
						var row = table.tBodies[t].rows[r1];
						addSelectedRowAndCompare(row);
					}
				}
			}
		}

		//now change the text of the button
		btnShowDiffs.value = "Hide All Diffs";
	}
	else
	{
		//we want to hide all the differences
		var table = document.getElementById("tblStats");
		if (table.tHead == null && table.tFoot == null)
		{
			for (var r1 = 0; r1 < table.rows.length; r1++)
			{
				if(table.rows[r1].getAttribute("userRow") != "false")
				{
					var row = table.rows[r1];
					if(row.bgColor != "yellow")
					{
						clearSelectedRowAndCompare(row);
					}
				}
			}
		}
		else
		{
			for (var t = 0; t < table.tBodies.length; t++)
			{
				for (var r1 = 0; r1 < table.tBodies[t].rows.length; r1++)
				{
					if(table.tBodies[t].rows[r1].getAttribute("userRow") != "false")
					{
						var row = table.tBodies[t].rows[r1];
						if(row.bgColor != "yellow")
						{
							clearSelectedRowAndCompare(row);
						}
					}
				}
			}
		}

		//now change the text of the button
		btnShowDiffs.value = "Show All Diffs";
	}

}
</script>