<table id="tblStats" name="tblStats" cellpadding="3px" cellspacing="0" border="1" class="tblWeeklyStats" width=100%>
    <thead>
        <tr userRow='false'>
            <td colspan=2 nowrap style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid"><font size=+1><b>Season Stats</b></font>
            </td>

            <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid" colspan="9" align=center><font size=+1><b>1st Half</b></font></td>
            <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid;BORDER-RIGHT: black thin dashed" colspan="2">&nbsp;</td>
            <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid" colspan="8" align=center><font size=+1><b>2nd Half</b></font></td>
            <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid;BORDER-RIGHT: black thin dashed" colspan="2">&nbsp;</td>
            <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid" colspan="2" align=center><font size=+1><b>Overall</b></font></td>
        </tr>
        <tr userRow='false'>
            <td colspan="13" style="BORDER-RIGHT: black thin dashed"><b>Weekly Winner Is Highlighted in <font color="lightgreen">Green</font></b></td>
            <td style="BORDER-RIGHT: black thin dashed" colspan="10">&nbsp;</td>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr userRow='false'><td colspan=2><b>Number Of Games</b></td>
            {% for week in weeks %}
                {% if forloop.counter == 10 %}
                    <td colspan=2 style="BORDER-RIGHT: black thin dashed" >&nbsp;</td>
                    <td align=center class="tdNumGames">{{ week.game_wk.count }}</td>
                {% else %}
                    <td align=center class="tdNumGames">{{ week.game_wk.count }}</td>
                {% endif %}
            {% endfor %}
            <td colspan=2 style="BORDER-RIGHT: black thin dashed">&nbsp;</td>
            <td colspan=2>&nbsp;</td>
        </tr>

        <tr userRow='false'>
            <td colspan="11">&nbsp;</td>
            <td colspan="2" align=center style="BORDER-RIGHT: black thin dashed">Game Count: {{ game_cnt.0 }}</td>
            <td colspan="8">&nbsp;</td>
            <td colspan="2" align=center style="BORDER-RIGHT: black thin dashed">Game Count: {{ game_cnt.1 }}</td>
            <td colspan="2" align=center>Game Count: {{ game_cnt.2 }}</td>
        </tr>
<!--		Put the "header" row of the next section of the table-->
        <tr>
            <td style="BORDER-BOTTOM: black solid">&nbsp;</td><td style="BORDER-BOTTOM: black solid"><b>Week</b></td>
            {% for week in weeks %}
                {% if forloop.counter == 10 %}
                    <td align=center style="BORDER-BOTTOM: black solid" onclick="sortByThisColumn(11);"><b>Total</b></td>
                    <td align=center style="BORDER-BOTTOM: black solid; BORDER-RIGHT: black thin dashed"><b>Win%</b></td>
<!--                    <td colspan=2 style="BORDER-RIGHT: black thin dashed">&nbsp;</td>-->
                    <td align=center style="BORDER-BOTTOM: black solid"><b>{{ week.week_no }}</b></td>
                {% else %}
                    <td align=center style="BORDER-BOTTOM: black solid"><b>{{ week.week_no }}</b></td>
                {% endif %}
            {% endfor %}
            <td align=center style="BORDER-BOTTOM: black solid" onclick="sortByThisColumn(11);"><b>Total</b></td>
            <td align=center style="BORDER-BOTTOM: black solid; BORDER-RIGHT: black thin dashed"><b>Win%</b></td>
            <td align=center style="BORDER-BOTTOM: black solid" onclick="sortByThisColumn(21);"><b>Total</b></td>
            <td align=center style="BORDER-BOTTOM: black solid; BORDER-RIGHT: black thin dashed"><b>Win%</b></td>
        </tr>
    </thead>
    <tr>
<!--    for each user-->
        {% for pick in user_picks %}
            {% with user_id=pick.user.id %}
            {% ifchanged pick.user %}
                {% if forloop.first %}
                    &nbsp;
                {% else %}
                    </tr>
                {% endif %}
                <tr userRow='true' id = 'tr{{ pick.user.id }}' name = 'tr{{ pick.user.id }}'
                {% if request.user == pick.user %}
                    style= " BACKGROUND-COLOR: yellow;">
                {% else %}
                    >
                {% endif %}
                <td style="BORDER-BOTTOM: silver solid thin;" >&nbsp;</td><td style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;" >{{ pick.user.first_name }} {{ pick.user.last_name }}</td>
                <td align=center style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: silver solid thin;" >{{ pick.score }}</td>
            {% else %}
                {% if pick.wk.week_no == 9 %}
                    <td align=right style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;">{{ pick.score }}&nbsp;</td>
                    <td align=center style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;BORDER-LEFT: black solid thin;" >{{ win_subtot1|lookup:user_id }}</td>
                    <td align=right style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;">{{ win_perc1|lookup:user_id }}&nbsp;</td>
<!--                    <td colspan=2 style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;BORDER-LEFT: black solid thin;">&nbsp;{{ pick.wk.week_no }}</td>-->
                {% elif pick.wk.week_no == 17 %}
                    <td align=center style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: silver solid thin;" >{{ pick.score }}</td>
                    <td align=center style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;BORDER-LEFT: black solid thin;" >{{ win_subtot2|lookup:user_id }}</td>
                    <td align=right style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;">{{ win_perc2|lookup:user_id }}&nbsp;</td>
                    <td align=center style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;BORDER-LEFT: black solid thin;" >{{ win_total|lookup:user_id }}</td>
                    <td align=right style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: black solid thin;" >{{ win_totalperc|lookup:user_id }}&nbsp;</td>
                {% else %}
                    <td align=center style="BORDER-BOTTOM: silver solid thin; BORDER-RIGHT: silver solid thin;" >{{ pick.score }}</td>
                {% endif %}
            {% endifchanged %}
            {% endwith %}
        {% endfor %}
        </tr>
    </tbody>
</table>