<table cellpadding="3px" cellspacing="0" border="0" class="tblWeeklyStats" width=100%>
    <tr>
        <td style="BORDER-TOP: black solid;BORDER-BOTTOM: black solid" colspan='2'>
            <font size=+2 color=red><b>This week's picks are open, this report can't be run until the picks are closed!</b></font></td>
    </tr>
    <tr>
        <td align=center style="BORDER-RIGHT: black solid;BORDER-BOTTOM: black solid">
            <font id="ftWeekCombo" name="ftWeekCombo" ><b>Week:&nbsp;{{ user_picks.first.wk.week_no }}</b></font>
        </td>

        <td style="BORDER-BOTTOM: black solid">Submitted Picks</td>
    </tr>

	{% for pick in user_picks %}
		<tr id = "tr{{request.user.id}}" >
            {% if pick.user == request.user %}
                <td class="picks" style="BORDER-RIGHT: black solid; BACKGROUND-COLOR: yellow; BORDER-TOP: black thin solid;BORDER-BOTTOM: black thin solid;" >
        			{{ pick.user.first_name }} {{ pick.user.last_name }}</td>
                {% if pick.saved %}
                    <td class="picks" style="BACKGROUND-COLOR: yellow;BORDER-TOP: black thin solid;BORDER-BOTTOM: black thin solid;" >Yes</td>
                {% else %}
                    <td class="picks" style="BACKGROUND-COLOR: yellow;BORDER-TOP: black thin solid;BORDER-BOTTOM: black thin solid;" >No</td>
                {% endif %}
            {% else %}
                <td class="picks" style="BORDER-RIGHT: black solid; BORDER-BOTTOM: silver solid thin;">
        			{{ pick.user.first_name }} {{ pick.user.last_name }}</td>
                {% if pick.saved %}
                    <td class="picks" style="BORDER-BOTTOM: black thin solid;" >Yes</td>
                {% else %}
                    <td class="picks" style="BORDER-BOTTOM: black thin solid;" >No</td>
                {% endif %}
            {% endif %}
		</tr>
	{% endfor %}
</table>
<input type=hidden id=hidWinnerID name=hidWinnerID value=sWinnerUserID>

<!--<script>-->
<!--$( document ).ready(function(request) {-->
<!--        $(".picks").css("background-color", "yellow");-->
<!--        $(".picks").css("background-color", "yellow");-->

<!--    console.log( pick.user.id );-->
<!--});-->

<!--$( window ).on( "load", function() {-->
<!--    console.log( "window loaded" );-->
<!--});-->
<!--</script>-->