<!--            <div class="col-sm-2 sidenav">-->
    <font size=-1>
    <form action="/action/week/" method="GET" >
        {% csrf_token %}
        <input type="hidden" id = "next" name="next" value="{{ request.path }}">
        <button type="submit" value=1 name="btnSetPre1">Pre&nbsp;1</button>
        <button type="submit" value=2 name="btnSetPre2">Pre&nbsp;2</button>
        <button type="submit" value=3 name="btnSetPre3">Pre&nbsp;3</button>
        <button type="submit" value=4 name="btnSetPre4">Pre&nbsp;4</button>
            <br>
        <button type="submit" value=1 name="btnSetWeek1">Week&nbsp;1</button>
        <button type="submit" value=2 name="btnSetWeek2">Week&nbsp;2</button>
        <button type="submit" value=3 name="btnSetWeek3">Week&nbsp;3</button>
        <button type="submit" value=4 name="btnSetWeek4">Week&nbsp;4</button>
        <button type="submit" value=5 name="btnSetWeek5">Week&nbsp;5</button>
        <button type="submit" value=6 name="btnSetWeek6">Week&nbsp;6</button>
        <button type="submit" value=7 name="btnSetWeek7">Week&nbsp;7</button>
        <button type="submit" value=8 name="btnSetWeek8">Week&nbsp;8</button>
        <button type="submit" value=9 name="btnSetWeek9">Week&nbsp;9</button>
        <button type="submit" value=10 name="btnSetWeek10">Week&nbsp;10</button>
        <button type="submit" value=11 name="btnSetWeek11">Week&nbsp;11</button>
        <button type="submit" value=12 name="btnSetWeek12">Week&nbsp;12</button>
        <button type="submit" value=13 name="btnSetWeek13">Week&nbsp;13</button>
        <button type="submit" value=14 name="btnSetWeek14">Week&nbsp;14</button>
        <button type="submit" value=15 name="btnSetWeek15">Week&nbsp;15</button>
        <button type="submit" value=16 name="btnSetWeek16">Week&nbsp;16</button>
        <button type="submit" value=17 name="btnSetWeek17">Week&nbsp;17</button>
            <br>
        <button type="submit" value="PostSeason" name="btnSetWeekPS">Post Season</button>
    </form>
    </font>
<!--            </div>-->
<!--		  </div>-->
<!--		</div>-->
