<!-- templates/registration/login.html -->
{% extends 'appmain/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
		    <div class="row">
                <div class="col" id="divMenuLogo" name="divMenuLogo" >
		            <div class="row justify-content-md-center">
                        <a align="center"><b><font size="+3" face="garamond">Football Fun For The Whole Family!</font></b></a>
                    </div>
                </div>
            </div>
		    <div class="row">
                <div class="col" id="divLoginContent" name="divLoginContent" >
		            <div class="row justify-content-md-center">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" >Login</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}