{% extends 'appmain/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Password reset{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}?version=7"/>
<!--    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock stylesheet %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}