{% extends 'appmain/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Password reset sent{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/password_reset.css' %}?version=7"/>
{% endblock stylesheet %}
{% block bodyclass %}class=data-admin-utc-offset="0"{% endblock bodyclass %}"
{% block content %}
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/admin/">Pigskinners administration</a></h1>
            </div>
        </div>
        <!-- END Header -->
        <!-- Content -->
        <div id="content" class="colM">
            <h1>Password reset sent</h1>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
    </div>
    <!-- END Container -->
{% endblock %}