    .thead1 {color:blue;
             font-weight:bold;
             text-align:center;
            }
    .pickteam {color: blue;
             }
    .winteam {color: blue;
              font-weight: bold;
             }

    .newday {BORDER-TOP: silver solid thick;
            }

    .bottom_border {
        BORDER-BOTTOM: black solid 1px;
        cursor: pointer;
        text-align: center;
        color:blue;
        font-size: smaller;
    }

    .right_border {
        BORDER-RIGHT: black solid 1px;
        text-align:center;
        font-size: smaller;
    }

    .left_border {
        BORDER-LEFT: black solid 1px;
        font-size: smaller;
        text-align:center;
    }

    .left_right_border
    {
        BORDER-LEFT: black solid 1px;
        BORDER-RIGHT: black solid 1px;
        font-size: smaller;
        text-align:center;
    }

    .right_bottom_border {
        BORDER-BOTTOM: black solid 1px;
        BORDER-RIGHT: black solid 1px;
        CURSOR: HAND;
        font-size: smaller;
        text-align: center;
    }

    .left_bottom_border {
        BORDER-BOTTOM: black solid 1px;
        BORDER-LEFT: black solid 1px;
        CURSOR: HAND;
        font-size: smaller;
        text-align: center;
    }

    .left_right_bottom_border {
        BORDER-BOTTOM: black solid 1px;
        BORDER-LEFT: black solid 1px;
        BORDER-RIGHT: black solid 1px;
        font-size: smaller;
        text-align:center;
    }
