    .thead1 {color:blue;
             font-weight:bold;
             text-align:center;
            }
    .pickwin {color: blue;
              font-weight: bold;
             }
    .picklost {color: blue;
            font-weight: normal;
             }
    .nonwin {color: red;
            font-weight: bold;
             }
    .nonlost {color: black;
            font-weight: normal;
             }
    .newday {BORDER-TOP: silver solid thick;
            }
