    #btnSavePicks1 {
        visibility: hidden;
    }
    .open {
            color: black;
    }
    .closed {
            color: red;
    }
    .thead1 {color:blue;
             font-weight:bold;
             text-align:center;
            }
    .pickteam {color: blue;
             }
    .winteam {color: blue;
              font-weight: bold
             }
    .newday {BORDER-TOP: silver solid thick;
            }
